<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Content/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/Content/lib/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/ListLayout/css")
    <link href="~/Content/CSS/PageList.css" rel="stylesheet" />
    <style type="text/css">
        html, body {
            height: 100%;
        }
    </style>
    <!--[if IE 6]>
    <script type="text/javascript" src="/Content/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    @RenderSection("Style", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <script src="~/Content/lib/jquery/1.9.1/jquery.min.js"></script>
    @Scripts.Render("~/ListLayout/js")
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
        $(document).ready(function () {
            ResetPageList();
            InitDailog(".openDialog");
        })
        $(window).resize(function () {
            ResetPageList();
        });
        function ResetPageList() {
            $('.page-container-list').height($('body').height() - $('.page-header').outerHeight(true) - $('.page-container-search').outerHeight(true) - $('.page-container-pager').outerHeight(true));
            if ($("#table-head-fixer")) {
                $("#table-head-fixer").tableHeadFixer();
            }
        }
        $('.page-container-pager .pager a[title],#Search').on('click', function () {
            ShowLoading();
        });
        $('form').submit(function () {
            ShowLoading();
        })
        //if ($('.form-list-table tbody tr').length > 0) {
        //    $('.form-list-table:not(.noalt) tbody tr')
        //        .on("dblclick",
        //        function (e) {
        //            var jTrObj = $(this);
        //            try {
        //                if (jTrObj.find('.editBtn').length <= 0) {
        //                    return;
        //                }
        //                jTrObj.find('.editBtn')[0].click();
        //            } catch (e) { }
        //            return false;
        //        }
        //        )
        //    ;
        //}
        ////回车键
        //document.onkeydown = function (e) {
        //    if (!e) e = window.event; //火狐中是 window.event
        //    if ((e.keyCode || e.which) == 13) {
        //        var obtnSearch = document.getElementById("Search");
        //        obtnSearch.click();
        //    }
        //}
        //分页切换
        $("#PageSize").change(function () {
            $("#SearchForm").submit();
        })
    </script>
    @RenderSection("Script", false)
</body>
</html>