@using JQ.Web
@model ApplicationQueryWhereDto
<div class="page-container-search">
    @Html.HiddenFor(m => m.EnvironmentID)
    <div class="form-group">
        <label>名称:</label>
        @Html.TextBoxFor(m => m.Name, new { @style = "width:150px" })
    </div>
    <div class="form-group">
        <label>编号:</label>
        @Html.TextBoxFor(m => m.Code, new { @style = "width:150px" })
    </div>
    <div class="form-group">
        <label>版本号:</label>
        @Html.TextBoxFor(m => m.Version, new { @style = "width:150px" })
    </div>
    <div class="form-group">
        <label>是否启用:</label>
        @Html.DropDownListFor(m => m.FIsEnabled, SelectItemTool.GetIsEnabledItems(), new { @style = "width:150px" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success radius" id="btnSearch"><i class="Hui-iconfont"></i> 搜索</button>
    </div>
</div>