@using JQ.Result.Page;
@model IPageResult<ApplicationDto>

<div class="page-header">
    <nav>
        <span class="r" style="margin-right: 15px;">
            <a href="/Application/Add?environmentID=@(ViewBag.EnvironmentID?.ToString())&w=700&h=500" title="添加项目" class="openDialog btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加项目
            </a>
        </span>
    </nav>
</div>
<div class="page-container">
    @using (Html.BeginForm("Index", "Application", FormMethod.Post, new { @id = "SearchForm" }))
    {
        @Html.Partial("_Partial_Search", ViewBag.QueryWhereDto as ApplicationQueryWhereDto)
        <div class="page-container-list">
            <table class="table table-border table-bordered table-bg table-hover" id="table-head-fixer">
                <thead>
                    <tr class="text-c">
                        <th width="25">
                            编号
                        </th>
                        <th>名字</th>
                        <th>编码</th>
                        <th>版本号</th>
                        <th>是否启用</th>
                        <th>环境信息</th>
                        <th>备注</th>
                        <th>最后修改时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                {
                    int currentRow = 1;

                    foreach (var item in Model)
                    {
                            <tr class="text-c">
                                <td>@currentRow.ToString()</td>
                                <td>@item.FName</td>
                                <td>@item.FCode</td>
                                <td>@item.FVersion</td>
                                <td>@Html.Raw(item.FIsEnabled ? "<span class='label label-primary radius'>启用</span>" : "<span class='label label-warning radius'>禁用</span>")</td>
                                <td>@item.GetEnvironmentDesc()</td>
                                <td>@item.FComment</td>
                                <td>@(item.FLastModifyTime?.ToString("yyyy-MM-dd HH:mm:sss"))</td>
                                <td class="td-manage">
                                    <a href="/Application/Edit/@(item.FID.ToString())?w=700&h=500" title="编辑配置组" class="openDialog btn btn-primary size-S radius">编辑</a>
                                    <a href="javascript:DeleteEnvironment(@(item.FID));" title="删除应用" class="btn btn-danger size-S radius">删除</a>
                                </td>
                            </tr>
                            currentRow++;
                        }
                    }
                    else
                    {
                        @Html.Raw("<tr><td style='color:red;text-align:center;' colspan='9'>暂无记录</td></tr>")
                    }
                </tbody>
            </table>
        </div>
        <div class="page-container-pager noselect">
            @Html.SelfPager(Model)
        </div>
    }
</div>

@section Script{
    <script type="text/javascript">
        function DeleteEnvironment(id) {
            top.ShowConfirm("确定要删除此环境吗?", function () {
                Ajax({
                    type: "POST",
                    url: "/Application/Delete",
                    data: { applicationID: id }
                }, function (data) {
                    window.location.reload();
                }, function (failData) { });
            });

        }
    </script>
}